.weather-header {
    background-color: blue;

}

.card {
    background: rgb(93, 192, 228);
    /* padding: 40px; */
    /* min-width: 300px; */
    align-items: center;
}

.forecast {
    background: rgb(93, 192, 228);
    /* padding: 40px; */
    /* min-width: 200px; */
    align-items: center;
    display: flex;
}